# Configuration file

general {
    B:"Air Imbued"=true
    B:Bleeding=true
    B:DCs.potion.absorptionEXP=true
    B:DCs.potion.absorptionHeal=true
    B:DCs.potion.confinement=true
    B:DCs.potion.hallucination=true
    B:DCs.potion.immunization=true
    B:DCs.potion.protectionExplode=true
    B:DCs.potion.protectionProjectile=true
    B:DCs.potion.protectionSuffocation=true
    B:DCs.potion.reflex=true
    B:DCs.potion.suffocation=true
    B:Delirium=true
    B:"Earth Imbued"=true
    B:"Fire Imbued"=true
    B:"Frozen Solid"=true
    B:"Radiation Sickness"=true
    B:"Wated Imbued"=true
    B:_allowOreDictionarySilver=true
    B:_registerSilverWithOreDictionary=true
    B:botania.potion.allure=true
    B:botania.potion.bloodthirst=true
    B:botania.potion.emptiness=true
    B:botania.potion.featherFeet=true
    B:botania.potion.soulCross=true
    B:grc.potion.tipsy=true
    B:ic2.potion.radiation=true
    B:potion.absorption=true
    B:potion.blindness=true
    B:potion.confusion=true
    B:potion.damageBoost=true
    B:potion.digSlowDown=true
    B:potion.digSpeed=true
    B:potion.fallresist=true
    B:potion.fear=true
    B:potion.fireResistance=true
    B:potion.harm=true
    B:potion.heal=false
    B:potion.healthBoost=true
    B:potion.hunger=true
    B:potion.invisibility=true
    B:potion.jump=true
    B:potion.leech=true
    B:potion.moveSlowdown=true
    B:potion.moveSpeed=true
    B:potion.nightVision=true
    B:potion.paralysis=true
    B:potion.penetration=true
    B:potion.poison=true
    B:potion.possession=true
    B:potion.rage=true
    B:potion.recklessness=true
    B:potion.regeneration=false
    B:potion.resistance=true
    B:potion.saturation=true
    B:potion.swiftswimming=true
    B:potion.waterBreathing=true
    B:potion.weakness=true
    B:potion.weight=true
    B:potion.wither=true
}


